.container{
  display: flex;
  justify-content: space-between;
  background-color: #8ecae6;
}

.nav-items{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.nav-items li{
  list-style: none;
}

.card-container{
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.celebrity-card{
  border: 1px solid black;
  margin: 1rem;
  border-radius: 5px;

}

.celebrity-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
